<div class="layout">
  <div class="layout-content">
    <ng-content />
    <div class="footer">
      <mat-divider />
      <markdown class="footer-text" [emoji]="true">
        Made with :heart: by **fsegurai** <span style="margin:0 .15em;">•</span> Follow on
        [GitHub](https://github.com/fsegurai)
      </markdown>
    </div>
    @if (displayTOC() && showScrollUpButton()) {
      <button (click)="onScrollUp()" animate.enter="zoom-enter" animate.leave="zoom-leave" class="scrollup-button--fixed hide-gt-sm"
              color="accent" mat-fab type="button">
        <img src="icon-chevron-up.svg" alt="Scroll to top">
      </button>
    }
  </div>
  @if (displayTOC()) {
    <div class="layout-toc sticky">
      <app-scrollspy-nav [headings]="headings()" />
      @if (showScrollUpButton()) {
        <button (click)="onScrollUp()" animate.enter="zoom-enter" animate.leave="zoom-leave" class="scrollup-button" color="accent"
                mat-mini-fab type="button">
          <img src="icon-chevron-up.svg" alt="Scroll to top">
        </button>
      }
    </div>
  }
</div>
